{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

  <main>
    <div class="container wow fadeIn">
      <hr>
        <h2 class="logo-font mb-4 text-center">Checkout Form</h2>
      <hr>
        <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">
            <form id="checkout"  method="POST" class="card-body">
              {% csrf_token %}
              <div class="md-form mb-5">
                {{ form.first_name }}
                <label for="first_name" class="first_name" required>First Name</label>
                {% if form.errors.first_name %}
                <div class="invalid-feedback">
                  Please write name.
                </div>
                {% endif %}
              </div>
              <div class="md-form mb-5">
                {{ form.last_name }}
                <label for="last_name" class="last_name" required>Last Name</label>
                {% if form.errors.last_name %}
                <div class="invalid-feedback">
                  Please write you last name.
                </div>
                {% endif %}
              </div>
              <div class="md-form mb-5">
                {{ form.street_address }}
                <label for="street_address" class="street_address" required>Street Address</label>
                {% if form.errors.street_address %}
                <div class="invalid-feedback">
                  Please tyoe address.
                </div>
                {% endif %}
              </div>
              <div class="md-form mb-5">
                {{ form.city }}
                <label for="city" class="city" required>City</label>
                {% if form.errors.city %}
                <div class="invalid-feedback">
                  Please type City.
                </div>
                {% endif %}
              </div>
              <div class="md-form mb-5">
                {{ form.county }}
                <label for="county" class="county" required>County</label>
                 {% if form.errors.county %}
                <div class="invalid-feedback">
                  Please choose a county.
                </div>
                {% endif %}
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">Country</label>
                  {{ form.country }}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                  <label for="zip">Zip</label>
                <!---      <input type="text" class="form-control" id="zip" placeholder="" required>--->
                {{ form.zip }}  
                <div class="invalid-feedback">
                    Post code required.
                  </div>
                </div>
              </div>

              <hr class="mb-4">
             <button class="btn btn-black rounded-0 text-uppercase text-center" type="submit">Continue To Payment</button>   
            </form>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            {% for order_item in object.items.all %}
            <span class="badge badge-secondary badge-pill">{{ order_item.quantity }}</span>
            {% endfor %}
          </h4>
          <ul class="list-group mb-3 z-depth-1">
            {% for order_item in object.items.all %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div class="row">
                  <div class="col-2 mb-1">
                <img src="{{ MEDIA_URL }}{{ order_item.item.image }}" class="w-100 my-0" alt="image">
                <h6 class="my-0">{{ order_item.item.title }}</h6>
                <small class="text-muted">{{ order_item.quantity }}</small>
              </div>
              </div>
              <span class="text-muted">${{ order_item.item.price }}</span>
            </li>
            {% endfor %}
           
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>{{ object.get_total }}</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
 
  {% endblock content %} 

 

 
