/body {
    background-color: #f5f5f5;
    margin: 0px;
    height: 80vh;
    background-repeat: no-repeat;
}

.navbar { 
    background: #283350;
    border-bottom: 1px solid #f93800;
}
.navbar-brand {
    color: #ffb500!important;
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-brand .blue-text{
        color: #ffb500!important;
}

.navbar-brand .blue-text:hover{
        color: #f93800!important;
}

.navbar.navbar-dark .navbar-toggler{
    color: #f93800;
}

.navbar.navbar-dark .navbar-toggler-icon {
    color: #ffb500!important;
}

.nav-link {
    color: #f93800!important;
    text-transform: uppercase;
    margin-right: 5px;
    font-weight: 400;
    
}

.nav-link:hover {
    color: #ffb500!important;
    font-weight: 400;
}

.navbar-dark .navbar-toggler {
    color: #ffb500;
    border-color: #f93800;
}

.navbar.navbar-dark form .md-form input {
    border-bottom: 1px solid #f93800;
}


.get_in_touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
    padding: 30px;
}

.get_in_touch .title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 44px;
    padding-bottom: 20px;
    color: #283350;
    background: linear-gradient(to right, #ffb500 0%, #f93800 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

p.sub-title {
    text-transform: uppercase;
    font-size: 1em;
    color: #283350;
    font-weight: 400;
    text-align: center;
}

.contact-form .form-group {
    position: relative;
    margin: 32px 0;

}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #283350;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label{
    transform: translateY(-25px);
}

.contact-form .input-text:focus{
    outline: none;
}

.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #283350;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.3s ease-in-out;
}

.contact-form .submit-btn{
    display: inline-block;
    background-image: linear-gradient(125deg, #ffb500,#f93800);
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

