body {
    background-color: #f5f5f5;
    margin: 0px;
    height: 80vh;
    background-repeat: no-repeat;
}

.navbar { 
    background: #283350;
    border-bottom: 1px solid #f93800;
}
.navbar-brand {
    color: #ffb500!important;
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-brand .blue-text{
        color: #ffb500!important;
}

.navbar-brand .blue-text:hover{
        color: #f93800!important;
}

.navbar.navbar-dark .navbar-toggler{
    color: #f93800;
}

.navbar.navbar-dark .navbar-toggler-icon {
    color: #ffb500!important;
}

.nav-link {
    color: #f93800!important;
    text-transform: uppercase;
    margin-right: 5px;
    font-weight: 400;
    
}

.nav-link:hover {
    color: #ffb500!important;
    font-weight: 400;
}

.navbar-dark .navbar-toggler {
    color: #ffb500;
    border-color: #f93800;
}

.navbar.navbar-dark form .md-form input {
    border-bottom: 1px solid #f93800;
}


.get_in_touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
    padding: 30px;
}


h1.title {
    text-transform: uppercase;
    color: #283350;
    font-weight: 400;
    text-align: center;
}

p.sub-title {
    text-transform: uppercase;
    font-size: 1em;
    color: #283350;
    font-weight: 400;
    text-align: center;
}

.contact-form .form-group {
    position: relative;
    margin: 32px 0;

}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #283350;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label{
    transform: translateY(-25px);
}

.contact-form .input-text:focus{
    outline: none;
}

.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #283350;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.3s ease-in-out;
}

input.form-control-sm {
    margin-top: 6px;
}


p.text-muted{
    color:#ffb500;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #ebecf0;
    z-index: -1;
}

.logo-font {
    text-transform: uppercase;
    color: #f93800
}

.btn-outline-black {
    background-color: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

@media (max-width: 991px) {
    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
        font-size: .75rem;
    }
}