{% extends "base.html" %}
{% load static %}


{% block content %}
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark scrolling-navbar">
    <div class="container">
      <a class="navbar-brand waves-effect" href="/" target="_blank">
        <strong class="blue-text">MX-BIKE-STORE</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'shop' %}">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'checkout' %}">Checkout</a>
          </li>
        </ul>
         </div>
  </nav> 

<section class="get_in_touch"> 
    <h1 class="title">Contact Us</h1>
    <p class="sub-title">If you have any questions about our products range or demo testing days, we would love to hear from you. Please fill the
     following form to get in touch.</p>
    <form class="container" action="{% url 'contact' %}" method="POST">
        {% csrf_token %}
        <div class="contact-form row">
            <div class="form-group" col-lg-6>
                <input id="name" class="input-text" type="text" name="Name" required>
                <label for="name" class="label">Name</label>
            </div>
            <div class="form-group" col-lg-6>
                <input id="email" class="input-text" type="email" name="Email" required>
                <label for="email" class="label">Email</label>
            </div>
            <div class="form-group" col-lg-6>
                <input id="company" class="input-text" type="company" name="Company">
                <label for="company" class="label">Company Name</label>
            </div>
            <div class="form-group" col-lg-6>
                <input id="phone" class="input-text" type="text" name="Phone" required>
                <label for="phone" class="label">Contact Number</label>
            </div>
            <div class="form-group" col-lg-12>
                <input id="message" class="input-text" type="text" name="Message">
                <label for="message" class="label">Message</label>
            </div>   
            <div class="form-group" col-lg-12>
                <button type="submit" class="submit-btn btn-md my-0 p">
                    <i class="fas fa-envelope-open-text">Send Message</i>
                </button>
                <br>
            </div>
        </div>
    </form>
</section>
    
      

   
 
{% endblock content %} 

{% block extra_scripts %}
{% endblock extra_scripts %}
