 
  <footer class="page-footer text-center font-small mt-4 bg-dark wow fadeIn">
    <hr class="my-4">
    
    <div class="pb-4">
      <a href="https://www.facebook.com/" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>
      <a href="https://www.youtube.com" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>
      <a href="https://www.pinterest.com" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>
    </div>
    <div class="footer-copyright py-3">
      © 2021 Copyright:
      <a href="/" target="_blank">MX-BIKE-STORE</a>
    </div>


  </footer>