{% extends "base.html" %}
{% load static %}
{% load crispy|forms_tags %}

{% block head_links %}
{% endblock head_links %}


{% block content %}
  <main>
      <div class="container wow fadeIn">
          <h2 class="my-5 h2 text-center">Payment</h2>
          <div class="row">
              <div class="col-md-12 mb-4">

                  <div class="card">

                      <script src="https://js.stripe.com/v3/"></script>
                        <form method="POST" class="card-body">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                  
                  </form>



              </div>
          </div>
      </div>
      </div>
  </main>

  {% endblock content %} 

